<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <standardshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Falcon\StandardShipping\Model\Carrier\Shipping</model>
                <name>Standard Shipping Method</name>
                <price>10.00</price>
                <title>Standard Delivery</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </standardshipping>
        </carriers>
    </default>
</config>
